@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-colour: #242424;
  --text-colour: #d6d6d6;
}

* {
  box-sizing: border-box;
  color: var(--text-colour);
}

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  background-color: var(--background-colour);
}
